# Para todos os arquivos e sub-pastas localizados na pasta vendor/
hre.loc/assets/server/node_modules/
DB1/__history/
_hre.loc/
*.dcu
*.local
*.exe
DB1 - Rodrigo.zip
DB1.zip
DB1/DB1.dproj.local
*.projdata
*.identcache
*.dll

