<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hre.loc</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-4 offset-lg-0 text-center">
                    <div ng-repeat="equipamento"><span>Equipamento</span>
                        <div class="card"><span>{{equipamento.nome}}<br></span></div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 text-center">
                    <div ng-repeat="produto"><span>Produto</span>
                        <div class="card"><span>{{produto.nome}}</span></div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 text-center">
                    <div ng-repeat="operador"><span>Operador</span>
                        <div class="card"><span>{{operador.nome}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid d-flex flex-column body-content justify-content-center">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-4 col-lg-4 col-xl-4"><button class="btn btn-primary btn-block btn-lg d-block" type="button"><br>INICIAR TURNO<br><br></button></div>
            <div class="col"></div>
        </div>
    </div>
    <footer>
        <div class="container flex-row">
            <div class="row justify-content-center align-items-center align-self-center">
                <div class="col"><span></span><
                    <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Dropdown Example 2
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
                              <li role="presentation" class="divider"></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>    
                            </ul>
                          </div>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-4"></div>
                <div class="col d-flex flex-column align-items-end"><span></span><button class="btn btn-primary btn-lg d-flex align-content-center" type="button" style="margin-top:7px;">AJUDA</button></div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>