div#container
{
   width: 994px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Camada_Fundo
{
   background-color: #D0D0D0;
   background-image: none;
   border: 1px #006400 solid;
}
#wb_Menu_Finalizar
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_Menu_Finalizar ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_Menu_Finalizar li
{
   float: left;
   margin: 0;
   padding: 0px 5px 0px 0px;
}
#wb_Menu_Finalizar a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 6px #2E8B57 solid;
   border-radius: 8px;
   background-color: #337AB7;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 37px;
   font-style: normal;
   text-decoration: none;
   height: 138px;
   line-height: 138px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
#wb_Menu_Finalizar li:hover a, #wb_Menu_Finalizar a:hover
{
   color: #FFFFFF;
   background-color: #2E8B57;
   background-image: none;
   border: 6px #2D699F solid;
}
#wb_Menu_Finalizar li.firstmain
{
   padding-left: 0px;
}
#wb_Menu_Finalizar li.lastmain
{
   padding-right: 0px;
}
#wb_Menu_Finalizar br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#nome_equipamento
{
   border-width: 0;
}
#numero_operação
{
   border-width: 0;
}
#wb_equipamento 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_equipamento div
{
   text-align: left;
}
#wb_operação 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_operação div
{
   text-align: left;
}
#nome_produto
{
   border-width: 0;
}
#wb_produto 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_produto div
{
   text-align: left;
}
#controle_produção
{
   border-width: 0;
}
#tabela_previsto_oee
{
   border: 2px #FFFFFF solid;
   background-color: #FFFFFF;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
}
#tabela_previsto_oee td
{
   padding: 0px 0px 0px 0px;
}
#tabela_previsto_oee td div
{
   white-space: nowrap;
}
#tabela_previsto_oee .cell0
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   width: 116px;
   height: 48px;
}
#tabela_previsto_oee .cell1
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   height: 48px;
}
#quant_prevista_hora
{
   border-width: 0;
}
#quantidade_realizado_hora
{
   border-width: 0;
}
#diferença
{
   border-width: 0;
}
#oee
{
   border-width: 0;
}
#Shape3
{
   border-width: 0;
}
#Shape1
{
   border-width: 0;
}
#Shape2
{
   border-width: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Menu_Voltar
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_Menu_Voltar ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_Menu_Voltar li
{
   float: left;
   margin: 0;
   padding: 0px 20px 0px 0px;
}
#wb_Menu_Voltar a
{
   display: block;
   float: left;
   color: #333333;
   border: 4px #006400 solid;
   border-radius: 5px;
   background-color: #1E90FF;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   font-style: normal;
   text-decoration: none;
   height: 72px;
   line-height: 72px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
#wb_Menu_Voltar li:hover a, #wb_Menu_Voltar a:hover
{
   color: #FFFFFF;
   background-color: #98FB98;
   background-image: none;
   border: 4px #2E6DA4 solid;
}
#wb_Menu_Voltar li.firstmain
{
   padding-left: 0px;
}
#wb_Menu_Voltar li.lastmain
{
   padding-right: 0px;
}
#wb_Menu_Voltar br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
