@CHARSET "ISO-8859-1";

body, table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

@-moz-document url-prefix() { 
    body,table {
        font-size: 9pt;
    }
    .pequeno td{
        font-size: 7.8pt !important;
    }
}
span{
    display: -webkit-inline-box;
    float: right !important;
}
.paper, .paper-branco {
    height:1122.519685039px;
    width:793.700787402px;
    background:#fff;
    border:0px solid silver;
    padding:30px;
  
    background-repeat:no-repeat;

    background-size:100% 100%;
    -webkit-background-size:100% 100%;
    -o-background-size:100% 100%;
    -khtml-background-size: 100% 100%;
    -moz-background-size:100% 100%;
}
.paper {
     background-image:url('../_img/bg.png');
}
.quebrapagina {
   page-break-before: always;
}
.titulo{
    text-align:center;
    font-size:12pt;
    line-height: 23px;
    text-transform: uppercase;
}
.sublinhado{
    border-bottom:1px solid black !important;
    padding-right:5px;
    height:20px;
    float:left;
    line-height:23px;
}

.descricao{
    padding-right:5px;
    padding-left:5px;
    height:20px;
    float:left;
    line-height:23px;
}
.clear{
    clear: both;
    height: 10px;
}
.grafico{
    float: left;
}
.col1,.col2, .col3{
    float: left;
    padding: 0 5px;
    width: 245px;
}
.col4, .col5{
    float: left;
    padding: 0 12px 0 25px;

}
.Parecer, .Monitoramento, .Classificacao{
    padding: 0 19px;
}
.TresCol{
    text-align: center;
    padding-left: 20px;
}
.centro{text-align:center;}
.w1{width: 1px;}
.w2{width: 2px;}
.w3{width: 3px;}
.w4{width: 4px;}
.w5{width: 5px;}
.w6{width: 6px;}
.w7{width: 7px;}
.w8{width: 8px;}
.w9{width: 9px;}
.w10{width: 10px;}
.w11{width: 11px;}
.w12{width: 12px;}
.w13{width: 13px;}
.w14{width: 14px;}
.w15{width: 15px;}
.w16{width: 16px;}
.w17{width: 17px;}
.w18{width: 18px;}
.w19{width: 19px;}
.w20{width: 20px;}
.w21{width: 21px;}
.w22{width: 22px;}
.w23{width: 23px;}
.w24{width: 24px;}
.w25{width: 25px;}
.w26{width: 26px;}
.w27{width: 27px;}
.w28{width: 28px;}
.w29{width: 29px;}
.w30{width: 30px;}
.w31{width: 31px;}
.w32{width: 32px;}
.w33{width: 33px;}
.w34{width: 34px;}
.w35{width: 35px;}
.w36{width: 36px;}
.w37{width: 37px;}
.w38{width: 38px;}
.w39{width: 39px;}
.w40{width: 40px;}
.w41{width: 41px;}
.w42{width: 42px;}
.w43{width: 43px;}
.w44{width: 44px;}
.w45{width: 45px;}
.w46{width: 46px;}
.w47{width: 47px;}
.w48{width: 48px;}
.w49{width: 49px;}
.w50{width: 50px;}
.w51{width: 51px;}
.w52{width: 52px;}
.w53{width: 53px;}
.w54{width: 54px;}
.w55{width: 55px;}
.w56{width: 56px;}
.w57{width: 57px;}
.w58{width: 58px;}
.w59{width: 59px;}
.w60{width: 60px;}
.w61{width: 61px;}
.w62{width: 62px;}
.w63{width: 63px;}
.w64{width: 64px;}
.w65{width: 65px;}
.w66{width: 66px;}
.w67{width: 67px;}
.w68{width: 68px;}
.w69{width: 69px;}
.w70{width: 70px;}
.w71{width: 71px;}
.w72{width: 72px;}
.w73{width: 73px;}
.w74{width: 74px;}
.w75{width: 75px;}
.w76{width: 76px;}
.w77{width: 77px;}
.w78{width: 78px;}
.w79{width: 79px;}
.w80{width: 80px;}
.w81{width: 81px;}
.w82{width: 82px;}
.w83{width: 83px;}
.w84{width: 84px;}
.w85{width: 85px;}
.w86{width: 86px;}
.w87{width: 87px;}
.w88{width: 88px;}
.w89{width: 89px;}
.w90{width: 90px;}
.w91{width: 91px;}
.w92{width: 92px;}
.w93{width: 93px;}
.w94{width: 94px;}
.w95{width: 95px;}
.w96{width: 96px;}
.w97{width: 97px;}
.w98{width: 98px;}
.w99{width: 99px;}
.w100{width: 100px;}
.w101{width: 101px;}
.w102{width: 102px;}
.w103{width: 103px;}
.w104{width: 104px;}
.w105{width: 105px;}
.w106{width: 106px;}
.w107{width: 107px;}
.w108{width: 108px;}
.w109{width: 109px;}
.w110{width: 110px;}
.w111{width: 111px;}
.w112{width: 112px;}
.w113{width: 113px;}
.w114{width: 114px;}
.w115{width: 115px;}
.w116{width: 116px;}
.w117{width: 117px;}
.w118{width: 118px;}
.w119{width: 119px;}
.w120{width: 120px;}
.w121{width: 121px;}
.w122{width: 122px;}
.w123{width: 123px;}
.w124{width: 124px;}
.w125{width: 125px;}
.w126{width: 126px;}
.w127{width: 127px;}
.w128{width: 128px;}
.w129{width: 129px;}
.w130{width: 130px;}
.w131{width: 131px;}
.w132{width: 132px;}
.w133{width: 133px;}
.w134{width: 134px;}
.w135{width: 135px;}
.w136{width: 136px;}
.w137{width: 137px;}
.w138{width: 138px;}
.w139{width: 139px;}
.w140{width: 140px;}
.w141{width: 141px;}
.w142{width: 142px;}
.w143{width: 143px;}
.w144{width: 144px;}
.w145{width: 145px;}
.w146{width: 146px;}
.w147{width: 147px;}
.w148{width: 148px;}
.w149{width: 149px;}
.w150{width: 150px;}
.w151{width: 151px;}
.w152{width: 152px;}
.w153{width: 153px;}
.w154{width: 154px;}
.w155{width: 155px;}
.w156{width: 156px;}
.w157{width: 157px;}
.w158{width: 158px;}
.w159{width: 159px;}
.w160{width: 160px;}
.w161{width: 161px;}
.w162{width: 162px;}
.w163{width: 163px;}
.w164{width: 164px;}
.w165{width: 165px;}
.w166{width: 166px;}
.w167{width: 167px;}
.w168{width: 168px;}
.w169{width: 169px;}
.w170{width: 170px;}
.w171{width: 171px;}
.w172{width: 172px;}
.w173{width: 173px;}
.w174{width: 174px;}
.w175{width: 175px;}
.w176{width: 176px;}
.w177{width: 177px;}
.w178{width: 178px;}
.w179{width: 179px;}
.w180{width: 180px;}
.w181{width: 181px;}
.w182{width: 182px;}
.w183{width: 183px;}
.w184{width: 184px;}
.w185{width: 185px;}
.w186{width: 186px;}
.w187{width: 187px;}
.w188{width: 188px;}
.w189{width: 189px;}
.w190{width: 190px;}
.w191{width: 191px;}
.w192{width: 192px;}
.w193{width: 193px;}
.w194{width: 194px;}
.w195{width: 195px;}
.w196{width: 196px;}
.w197{width: 197px;}
.w198{width: 198px;}
.w199{width: 199px;}
.w200{width: 200px;}
.w201{width: 201px;}
.w202{width: 202px;}
.w203{width: 203px;}
.w204{width: 204px;}
.w205{width: 205px;}
.w206{width: 206px;}
.w207{width: 207px;}
.w208{width: 208px;}
.w209{width: 209px;}
.w210{width: 210px;}
.w211{width: 211px;}
.w212{width: 212px;}
.w213{width: 213px;}
.w214{width: 214px;}
.w215{width: 215px;}
.w216{width: 216px;}
.w217{width: 217px;}
.w218{width: 218px;}
.w219{width: 219px;}
.w220{width: 220px;}
.w221{width: 221px;}
.w222{width: 222px;}
.w223{width: 223px;}
.w224{width: 224px;}
.w225{width: 225px;}
.w226{width: 226px;}
.w227{width: 227px;}
.w228{width: 228px;}
.w229{width: 229px;}
.w230{width: 230px;}
.w231{width: 231px;}
.w232{width: 232px;}
.w233{width: 233px;}
.w234{width: 234px;}
.w235{width: 235px;}
.w236{width: 236px;}
.w237{width: 237px;}
.w238{width: 238px;}
.w239{width: 239px;}
.w240{width: 240px;}
.w241{width: 241px;}
.w242{width: 242px;}
.w243{width: 243px;}
.w244{width: 244px;}
.w245{width: 245px;}
.w246{width: 246px;}
.w247{width: 247px;}
.w248{width: 248px;}
.w249{width: 249px;}
.w250{width: 250px;}
.w251{width: 251px;}
.w252{width: 252px;}
.w253{width: 253px;}
.w254{width: 254px;}
.w255{width: 255px;}
.w256{width: 256px;}
.w257{width: 257px;}
.w258{width: 258px;}
.w259{width: 259px;}
.w260{width: 260px;}
.w261{width: 261px;}
.w262{width: 262px;}
.w263{width: 263px;}
.w264{width: 264px;}
.w265{width: 265px;}
.w266{width: 266px;}
.w267{width: 267px;}
.w268{width: 268px;}
.w269{width: 269px;}
.w270{width: 270px;}
.w271{width: 271px;}
.w272{width: 272px;}
.w273{width: 273px;}
.w274{width: 274px;}
.w275{width: 275px;}
.w276{width: 276px;}
.w277{width: 277px;}
.w278{width: 278px;}
.w279{width: 279px;}
.w280{width: 280px;}
.w281{width: 281px;}
.w282{width: 282px;}
.w283{width: 283px;}
.w284{width: 284px;}
.w285{width: 285px;}
.w286{width: 286px;}
.w287{width: 287px;}
.w288{width: 288px;}
.w289{width: 289px;}
.w290{width: 290px;}
.w291{width: 291px;}
.w292{width: 292px;}
.w293{width: 293px;}
.w294{width: 294px;}
.w295{width: 295px;}
.w296{width: 296px;}
.w297{width: 297px;}
.w298{width: 298px;}
.w299{width: 299px;}
.w300{width: 300px;}
.w301{width: 301px;}
.w302{width: 302px;}
.w303{width: 303px;}
.w304{width: 304px;}
.w305{width: 305px;}
.w306{width: 306px;}
.w307{width: 307px;}
.w308{width: 308px;}
.w309{width: 309px;}
.w310{width: 310px;}
.w311{width: 311px;}
.w312{width: 312px;}
.w313{width: 313px;}
.w314{width: 314px;}
.w315{width: 315px;}
.w316{width: 316px;}
.w317{width: 317px;}
.w318{width: 318px;}
.w319{width: 319px;}
.w320{width: 320px;}
.w321{width: 321px;}
.w322{width: 322px;}
.w323{width: 323px;}
.w324{width: 324px;}
.w325{width: 325px;}
.w326{width: 326px;}
.w327{width: 327px;}
.w328{width: 328px;}
.w329{width: 329px;}
.w330{width: 330px;}
.w331{width: 331px;}
.w332{width: 332px;}
.w333{width: 333px;}
.w334{width: 334px;}
.w335{width: 335px;}
.w336{width: 336px;}
.w337{width: 337px;}
.w338{width: 338px;}
.w339{width: 339px;}
.w340{width: 340px;}
.w341{width: 341px;}
.w342{width: 342px;}
.w343{width: 343px;}
.w344{width: 344px;}
.w345{width: 345px;}
.w346{width: 346px;}
.w347{width: 347px;}
.w348{width: 348px;}
.w349{width: 349px;}
.w350{width: 350px;}
.w351{width: 351px;}
.w352{width: 352px;}
.w353{width: 353px;}
.w354{width: 354px;}
.w355{width: 355px;}
.w356{width: 356px;}
.w357{width: 357px;}
.w358{width: 358px;}
.w359{width: 359px;}
.w360{width: 360px;}
.w361{width: 361px;}
.w362{width: 362px;}
.w363{width: 363px;}
.w364{width: 364px;}
.w365{width: 365px;}
.w366{width: 366px;}
.w367{width: 367px;}
.w368{width: 368px;}
.w369{width: 369px;}
.w370{width: 370px;}
.w371{width: 371px;}
.w372{width: 372px;}
.w373{width: 373px;}
.w374{width: 374px;}
.w375{width: 375px;}
.w376{width: 376px;}
.w377{width: 377px;}
.w378{width: 378px;}
.w379{width: 379px;}
.w380{width: 380px;}
.w381{width: 381px;}
.w382{width: 382px;}
.w383{width: 383px;}
.w384{width: 384px;}
.w385{width: 385px;}
.w386{width: 386px;}
.w387{width: 387px;}
.w388{width: 388px;}
.w389{width: 389px;}
.w390{width: 390px;}
.w391{width: 391px;}
.w392{width: 392px;}
.w393{width: 393px;}
.w394{width: 394px;}
.w395{width: 395px;}
.w396{width: 396px;}
.w397{width: 397px;}
.w398{width: 398px;}
.w399{width: 399px;}
.w400{width: 400px;}
.w401{width: 401px;}
.w402{width: 402px;}
.w403{width: 403px;}
.w404{width: 404px;}
.w405{width: 405px;}
.w406{width: 406px;}
.w407{width: 407px;}
.w408{width: 408px;}
.w409{width: 409px;}
.w410{width: 410px;}
.w411{width: 411px;}
.w412{width: 412px;}
.w413{width: 413px;}
.w414{width: 414px;}
.w415{width: 415px;}
.w416{width: 416px;}
.w417{width: 417px;}
.w418{width: 418px;}
.w419{width: 419px;}
.w420{width: 420px;}
.w421{width: 421px;}
.w422{width: 422px;}
.w423{width: 423px;}
.w424{width: 424px;}
.w425{width: 425px;}
.w426{width: 426px;}
.w427{width: 427px;}
.w428{width: 428px;}
.w429{width: 429px;}
.w430{width: 430px;}
.w431{width: 431px;}
.w432{width: 432px;}
.w433{width: 433px;}
.w434{width: 434px;}
.w435{width: 435px;}
.w436{width: 436px;}
.w437{width: 437px;}
.w438{width: 438px;}
.w439{width: 439px;}
.w440{width: 440px;}
.w441{width: 441px;}
.w442{width: 442px;}
.w443{width: 443px;}
.w444{width: 444px;}
.w445{width: 445px;}
.w446{width: 446px;}
.w447{width: 447px;}
.w448{width: 448px;}
.w449{width: 449px;}
.w450{width: 450px;}
.w451{width: 451px;}
.w452{width: 452px;}
.w453{width: 453px;}
.w454{width: 454px;}
.w455{width: 455px;}
.w456{width: 456px;}
.w457{width: 457px;}
.w458{width: 458px;}
.w459{width: 459px;}
.w460{width: 460px;}
.w461{width: 461px;}
.w462{width: 462px;}
.w463{width: 463px;}
.w464{width: 464px;}
.w465{width: 465px;}
.w466{width: 466px;}
.w467{width: 467px;}
.w468{width: 468px;}
.w469{width: 469px;}
.w470{width: 470px;}
.w471{width: 471px;}
.w472{width: 472px;}
.w473{width: 473px;}
.w474{width: 474px;}
.w475{width: 475px;}
.w476{width: 476px;}
.w477{width: 477px;}
.w478{width: 478px;}
.w479{width: 479px;}
.w480{width: 480px;}
.w481{width: 481px;}
.w482{width: 482px;}
.w483{width: 483px;}
.w484{width: 484px;}
.w485{width: 485px;}
.w486{width: 486px;}
.w487{width: 487px;}
.w488{width: 488px;}
.w489{width: 489px;}
.w490{width: 490px;}
.w491{width: 491px;}
.w492{width: 492px;}
.w493{width: 493px;}
.w494{width: 494px;}
.w495{width: 495px;}
.w496{width: 496px;}
.w497{width: 497px;}
.w498{width: 498px;}
.w499{width: 499px;}
.w500{width: 500px;}
.w501{width: 501px;}
.w502{width: 502px;}
.w503{width: 503px;}
.w504{width: 504px;}
.w505{width: 505px;}
.w506{width: 506px;}
.w507{width: 507px;}
.w508{width: 508px;}
.w509{width: 509px;}
.w510{width: 510px;}
.w511{width: 511px;}
.w512{width: 512px;}
.w513{width: 513px;}
.w514{width: 514px;}
.w515{width: 515px;}
.w516{width: 516px;}
.w517{width: 517px;}
.w518{width: 518px;}
.w519{width: 519px;}
.w520{width: 520px;}
.w521{width: 521px;}
.w522{width: 522px;}
.w523{width: 523px;}
.w524{width: 524px;}
.w525{width: 525px;}
.w526{width: 526px;}
.w527{width: 527px;}
.w528{width: 528px;}
.w529{width: 529px;}
.w530{width: 530px;}
.w531{width: 531px;}
.w532{width: 532px;}
.w533{width: 533px;}
.w534{width: 534px;}
.w535{width: 535px;}
.w536{width: 536px;}
.w537{width: 537px;}
.w538{width: 538px;}
.w539{width: 539px;}
.w540{width: 540px;}
.w541{width: 541px;}
.w542{width: 542px;}
.w543{width: 543px;}
.w544{width: 544px;}
.w545{width: 545px;}
.w546{width: 546px;}
.w547{width: 547px;}
.w548{width: 548px;}
.w549{width: 549px;}
.w550{width: 550px;}
.w551{width: 551px;}
.w552{width: 552px;}
.w553{width: 553px;}
.w554{width: 554px;}
.w555{width: 555px;}
.w556{width: 556px;}
.w557{width: 557px;}
.w558{width: 558px;}
.w559{width: 559px;}
.w560{width: 560px;}
.w561{width: 561px;}
.w562{width: 562px;}
.w563{width: 563px;}
.w564{width: 564px;}
.w565{width: 565px;}
.w566{width: 566px;}
.w567{width: 567px;}
.w568{width: 568px;}
.w569{width: 569px;}
.w570{width: 570px;}
.w571{width: 571px;}
.w572{width: 572px;}
.w573{width: 573px;}
.w574{width: 574px;}
.w575{width: 575px;}
.w576{width: 576px;}
.w577{width: 577px;}
.w578{width: 578px;}
.w579{width: 579px;}
.w580{width: 580px;}
.w581{width: 581px;}
.w582{width: 582px;}
.w583{width: 583px;}
.w584{width: 584px;}
.w585{width: 585px;}
.w586{width: 586px;}
.w587{width: 587px;}
.w588{width: 588px;}
.w589{width: 589px;}
.w590{width: 590px;}
.w591{width: 591px;}
.w592{width: 592px;}
.w593{width: 593px;}
.w594{width: 594px;}
.w595{width: 595px;}
.w596{width: 596px;}
.w597{width: 597px;}
.w598{width: 598px;}
.w599{width: 599px;}
.w600{width: 600px;}
.w600{width: 600px;}
.w601{width: 601px;}
.w602{width: 602px;}
.w603{width: 603px;}
.w604{width: 604px;}
.w605{width: 605px;}
.w606{width: 606px;}
.w607{width: 607px;}
.w608{width: 608px;}
.w609{width: 609px;}
.w610{width: 610px;}
.w611{width: 611px;}
.w612{width: 612px;}
.w613{width: 613px;}
.w614{width: 614px;}
.w615{width: 615px;}
.w616{width: 616px;}
.w617{width: 617px;}
.w618{width: 618px;}
.w619{width: 619px;}
.w620{width: 620px;}
.w621{width: 621px;}
.w622{width: 622px;}
.w623{width: 623px;}
.w624{width: 624px;}
.w625{width: 625px;}
.w626{width: 626px;}
.w627{width: 627px;}
.w628{width: 628px;}
.w629{width: 629px;}
.w630{width: 630px;}
.w631{width: 631px;}
.w632{width: 632px;}
.w633{width: 633px;}
.w634{width: 634px;}
.w635{width: 635px;}
.w636{width: 636px;}
.w637{width: 637px;}
.w638{width: 638px;}
.w639{width: 639px;}
.w640{width: 640px;}
.w641{width: 641px;}
.w642{width: 642px;}
.w643{width: 643px;}
.w644{width: 644px;}
.w645{width: 645px;}
.w646{width: 646px;}
.w647{width: 647px;}
.w648{width: 648px;}
.w649{width: 649px;}
.w650{width: 650px;}
.w651{width: 651px;}
.w652{width: 652px;}
.w653{width: 653px;}
.w654{width: 654px;}
.w655{width: 655px;}
.w656{width: 656px;}
.w657{width: 657px;}
.w658{width: 658px;}
.w659{width: 659px;}
.w660{width: 660px;}
.w661{width: 661px;}
.w662{width: 662px;}
.w663{width: 663px;}
.w664{width: 664px;}
.w665{width: 665px;}
.w666{width: 666px;}
.w667{width: 667px;}
.w668{width: 668px;}
.w669{width: 669px;}
.w670{width: 670px;}
.w671{width: 671px;}
.w672{width: 672px;}
.w673{width: 673px;}
.w674{width: 674px;}
.w675{width: 675px;}
.w676{width: 676px;}
.w677{width: 677px;}
.w678{width: 678px;}
.w679{width: 679px;}
.w680{width: 680px;}
.w681{width: 681px;}
.w682{width: 682px;}
.w683{width: 683px;}
.w684{width: 684px;}
.w685{width: 685px;}
.w686{width: 686px;}
.w687{width: 687px;}
.w688{width: 688px;}
.w689{width: 689px;}
.w690{width: 690px;}
.w691{width: 691px;}
.w692{width: 692px;}
.w693{width: 693px;}
.w694{width: 694px;}
.w695{width: 695px;}
.w696{width: 696px;}
.w697{width: 697px;}
.w698{width: 698px;}
.w699{width: 699px;}
.w700{width: 700px;}
.w701{width: 701px;}
.w702{width: 702px;}
.w703{width: 703px;}
.w704{width: 704px;}
.w705{width: 705px;}
.w706{width: 706px;}
.w707{width: 707px;}
.w708{width: 708px;}
.w709{width: 709px;}
.w710{width: 710px;}
.w711{width: 711px;}
.w712{width: 712px;}
.w713{width: 713px;}
.w714{width: 714px;}
.w715{width: 715px;}
.w716{width: 716px;}
.w717{width: 717px;}
.w718{width: 718px;}
.w719{width: 719px;}
.w720{width: 720px;}
.w721{width: 721px;}
.w722{width: 722px;}
.w723{width: 723px;}
.w724{width: 724px;}
.w725{width: 725px;}
.w726{width: 726px;}
.w727{width: 727px;}
.w728{width: 728px;}
.w729{width: 729px;}
.w730{width: 730px;}
.w731{width: 731px;}
.w732{width: 732px;}
.w733{width: 733px;}
.w734{width: 734px;}
.w735{width: 735px;}
.w736{width: 736px;}
.w737{width: 737px;}
.w738{width: 738px;}
.w739{width: 739px;}
.w740{width: 740px;}
.w741{width: 741px;}
.w742{width: 742px;}
.w743{width: 743px;}
.w744{width: 744px;}
.w745{width: 745px;}
.w746{width: 746px;}
.w747{width: 747px;}
.w748{width: 748px;}
.w749{width: 749px;}
.w750{width: 750px;}
.w751{width: 751px;}
.w752{width: 752px;}
.w753{width: 753px;}
.w754{width: 754px;}
.w755{width: 755px;}
.w756{width: 756px;}
.w757{width: 757px;}
.w758{width: 758px;}
.w759{width: 759px;}
.w760{width: 760px;}
.w761{width: 761px;}
.w762{width: 762px;}
.w763{width: 763px;}
.w764{width: 764px;}
.w765{width: 765px;}
.w766{width: 766px;}
.w767{width: 767px;}
.w768{width: 768px;}
.w769{width: 769px;}
.w770{width: 770px;}
.w771{width: 771px;}
.w772{width: 772px;}
.w773{width: 773px;}
.w774{width: 774px;}
.w775{width: 775px;}
.w776{width: 776px;}
.w777{width: 777px;}
.w778{width: 778px;}
.w779{width: 779px;}
.w780{width: 780px;}
.w781{width: 781px;}
.w782{width: 782px;}
.w783{width: 783px;}
.w784{width: 784px;}
.w785{width: 785px;}
.w786{width: 786px;}
.w787{width: 787px;}
.w788{width: 788px;}
.w789{width: 789px;}
.w790{width: 790px;}
.w791{width: 791px;}
.w792{width: 792px;}
.w793{width: 793px;}
.w794{width: 794px;}
.w795{width: 795px;}
.w796{width: 796px;}
.w797{width: 797px;}
.w798{width: 798px;}
.w799{width: 799px;}


div{

}
.direita{
    text-align: right;
    display: block;
}
.esquerda{
    text-align: left;
    display: block;
    /*float: left;*/
}
table{
    /*height: 130px;*/
    width: 100%;
}
textarea {
    overflow:hidden;
    /*  margin:50px;*/
    width:794px;
    /*  height:680px;*/
    padding: 10px 20px 10px 70px;
    border:1px solid #ededed;
    vertical-align: bottom;
    background-color: #fff; 
    background-image: 
        -webkit-linear-gradient(90deg, transparent 49px, #e5eef6 49px, #e5eef6 50px, transparent 50px),
        -webkit-radial-gradient(circle, #f5f5f5 14px, transparent 14px),
        -webkit-radial-gradient(circle, rgba(0,0,0,.2) 15px, transparent 15px);
    -webkit-background-size: auto 50px, 50px 50px, 50px 50px;
    background-image: 
        -moz-linear-gradient(90deg, transparent 49px, #e5eef6 49px, #e5eef6 50px, transparent 50px),
        -moz-radial-gradient(circle, #f5f5f5 14px, transparent 14px),
        -moz-radial-gradient(circle, rgba(0,0,0,.2) 15px, transparent 15px);
    -moz-background-size: auto 50px, 50px 50px, 50px 50px;
    background-image: 
        linear-gradient(90deg, transparent 49px, #e5eef6 49px, #e5eef6 50px, transparent 50px),
        radial-gradient(circle, #f5f5f5 14px, transparent 14px),
        radial-gradient(circle, rgba(0,0,0,.2) 15px, transparent 15px);
    background-size: auto 50px, 50px 50px, 50px 50px;
    background-repeat: repeat, repeat-y, repeat-y;
    background-position: 0 -1px, 1px 1px;
    box-shadow: 2px 2px 1px -1px rgba(0,0,0,.2);
    resize: none; 
}
tr.memo td{
    /*height: 1px;*/
    line-height: 0px;
    padding: 0;
    margin: 0;
    text-align: justify;
}

td{

}
.tabela{
    border-collapse: collapse;
  
    margin: 0 auto;
}
.tabela tr td{
    border: 1px solid black;
    padding: 5px;
}
.tabela-sem-borda{border-collapse: collapse;    
    margin: 0 auto;}

.tabela2{
    border-collapse: collapse;    
    margin: 0 auto;
}
.tabela2 tbody{
    border: 1px solid black !important;
    padding: 5px;
}
.graf1{
    margin: 0;
    padding:0;
    float:left;
    width: 150px;

}
.graf2{
    width: 300px;
}
.borda{
    border: 1px solid black;
}
.borda-top{
    border-top: 1px solid black;
  
}
.borda-right{
    border-right: 1px solid black;
   
}
.borda-left{
    border-left: 1px solid black;
    
}
.borda-bottom{
    border-bottom: 1px solid black;
    

}
td.sem_borda,.sem_borda td{
    border: 0 !important;
}
.pequeno td{
    font-size: 8pt;
}
.small td{
    font-size: 8pt;
    width: 72px;
}

.Equipe {
    float: right;
    text-transform: uppercase;
    font-size: 11pt;
}
.Logo {
    float: left;
    display: block;
}
.TipoExame > .Selecionado {
    float: left;
    width: 33.333%;
    text-align: right;
}
.TecnicasUtilizadas{
    float:left;
    width: 351px;
}
.TecnicasUtilizadas> .Selecionado {
    width: 49%;
    float: left;
    text-align: left;
}
.Freq {
    width: 74px;
}
.FreqAASI {
    width: 189px;
}
.memo2 {
    /*background: url("../_img/Caderno.png") transparent repeat-x;*/
    height: 151px;
    background-position-y: -2;
    line-height: 20px;
    vertical-align: top;
    width: 100%;
    font-size:11pt;
}

.memo2r{
    /*background: url("../_img/CadernoR.png") transparent repeat-x;*/
    width: 100%;
}
.memo2S{
    /*background: url("../_img/CadernoS.png") transparent repeat-x;*/
    width: 100%;
}
.memo2f{
    /*background: url("../_img/CadernoF.png") transparent repeat-x;*/
    width: 100%;
}

.ribas {
    /*background: url("../_img/ribas.png") transparent repeat-x;*/
    /*       background: url("../_img/bley.png") transparent repeat-x;*/
    height: 39px;
    vertical-align: bottom;
    background-position: center;
    line-height: 0;
    /*vertical-align: top; */
    background-size: 100px;
    background-repeat: no-repeat;
}

.bley {
    /*background: url("../_img/bley.png") transparent repeat-x;*/
    height: 39px;
    vertical-align: bottom;
    background-position: center;
    line-height: 0;
    /*vertical-align: top; */
    background-size: 100px;
    background-repeat: no-repeat;
}

.zornig {
    /*background: url("../_img/zornig.png") transparent repeat-x;*/
    /*       background: url("../_img/bley.png") transparent repeat-x;*/
    height: 39px;
    vertical-align: bottom;
    background-position: center;
    line-height: 0;
    /*vertical-align: top; */
    background-size: 100px;
    background-repeat: no-repeat;
}
.branco {
    /*background: url("../_img/branco.png") transparent repeat-x;*/
    height: 39px;
    vertical-align: bottom;
    background-position: center;
    line-height: 0;
    /*vertical-align: top; */
    background-size: 100px;
    background-repeat: no-repeat;
}

.h1{height: 1px;}
.h2{height: 2px;}
.h3{height: 3px;}
.h4{height: 4px;}
.h5{height: 5px;}
.h6{height: 6px;}
.h7{height: 7px;}
.h8{height: 8px;}
.h9{height: 9px;}
.h10{height: 10px;}
.h11{height: 11px;}
.h12{height: 12px;}
.h13{height: 13px;}
.h14{height: 14px;}
.h15{height: 15px;}
.h16{height: 16px;}
.h17{height: 17px;}
.h18{height: 18px;}
.h19{height: 19px;}
.h20{height: 20px;}
.h21{height: 21px;}
.h22{height: 22px;}
.h23{height: 23px;}
.h24{height: 24px;}
.h25{height: 25px;}
.h26{height: 26px;}
.h27{height: 27px;}
.h28{height: 28px;}
.h29{height: 29px;}
.h30{height: 30px;}
.h31{height: 31px;}
.h32{height: 32px;}
.h33{height: 33px;}
.h34{height: 34px;}
.h35{height: 35px;}
.h36{height: 36px;}
.h37{height: 37px;}
.h38{height: 38px;}
.h39{height: 39px;}
.h40{height: 40px;}
.h41{height: 41px;}
.h42{height: 42px;}
.h43{height: 43px;}
.h44{height: 44px;}
.h45{height: 45px;}
.h46{height: 46px;}
.h47{height: 47px;}
.h48{height: 48px;}
.h49{height: 49px;}
.h50{height: 50px;}
.h51{height: 51px;}
.h52{height: 52px;}
.h53{height: 53px;}
.h54{height: 54px;}
.h55{height: 55px;}
.h56{height: 56px;}
.h57{height: 57px;}
.h58{height: 58px;}
.h59{height: 59px;}
.h60{height: 60px;}
.h61{height: 61px;}
.h62{height: 62px;}
.h63{height: 63px;}
.h64{height: 64px;}
.h65{height: 65px;}
.h66{height: 66px;}
.h67{height: 67px;}
.h68{height: 68px;}
.h69{height: 69px;}
.h70{height: 70px;}
.h71{height: 71px;}
.h72{height: 72px;}
.h73{height: 73px;}
.h74{height: 74px;}
.h75{height: 75px;}
.h76{height: 76px;}
.h77{height: 77px;}
.h78{height: 78px;}
.h79{height: 79px;}
.h80{height: 80px;}
.h81{height: 81px;}
.h82{height: 82px;}
.h83{height: 83px;}
.h84{height: 84px;}
.h85{height: 85px;}
.h86{height: 86px;}
.h87{height: 87px;}
.h88{height: 88px;}
.h89{height: 89px;}
.h90{height: 90px;}
.h91{height: 91px;}
.h92{height: 92px;}
.h93{height: 93px;}
.h94{height: 94px;}
.h95{height: 95px;}
.h96{height: 96px;}
.h97{height: 97px;}
.h98{height: 98px;}
.h99{height: 99px;}
.h100{height: 100px;}
.h101{height: 101px;}
.h102{height: 102px;}
.h103{height: 103px;}
.h104{height: 104px;}
.h105{height: 105px;}
.h106{height: 106px;}
.h107{height: 107px;}
.h108{height: 108px;}
.h109{height: 109px;}
.h110{height: 110px;}
.h111{height: 111px;}
.h112{height: 112px;}
.h113{height: 113px;}
.h114{height: 114px;}
.h115{height: 115px;}
.h116{height: 116px;}
.h117{height: 117px;}
.h118{height: 118px;}
.h119{height: 119px;}
.h120{height: 120px;}
.h121{height: 121px;}
.h122{height: 122px;}
.h123{height: 123px;}
.h124{height: 124px;}
.h125{height: 125px;}
.h126{height: 126px;}
.h127{height: 127px;}
.h128{height: 128px;}
.h129{height: 129px;}
.h130{height: 130px;}
.h131{height: 131px;}
.h132{height: 132px;}
.h133{height: 133px;}
.h134{height: 134px;}
.h135{height: 135px;}
.h136{height: 136px;}
.h137{height: 137px;}
.h138{height: 138px;}
.h139{height: 139px;}
.h140{height: 140px;}
.h141{height: 141px;}
.h142{height: 142px;}
.h143{height: 143px;}
.h144{height: 144px;}
.h145{height: 145px;}
.h146{height: 146px;}
.h147{height: 147px;}
.h148{height: 148px;}
.h149{height: 149px;}
.h150{height: 150px;}
.h151{height: 151px;}
.h152{height: 152px;}
.h153{height: 153px;}
.h154{height: 154px;}
.h155{height: 155px;}
.h156{height: 156px;}
.h157{height: 157px;}
.h158{height: 158px;}
.h159{height: 159px;}
.h160{height: 160px;}
.h161{height: 161px;}
.h162{height: 162px;}
.h163{height: 163px;}
.h164{height: 164px;}
.h165{height: 165px;}
.h166{height: 166px;}
.h167{height: 167px;}
.h168{height: 168px;}
.h169{height: 169px;}
.h170{height: 170px;}
.h171{height: 171px;}
.h172{height: 172px;}
.h173{height: 173px;}
.h174{height: 174px;}
.h175{height: 175px;}
.h176{height: 176px;}
.h177{height: 177px;}
.h178{height: 178px;}
.h179{height: 179px;}
.h180{height: 180px;}
.h181{height: 181px;}
.h182{height: 182px;}
.h183{height: 183px;}
.h184{height: 184px;}
.h185{height: 185px;}
.h186{height: 186px;}
.h187{height: 187px;}
.h188{height: 188px;}
.h189{height: 189px;}
.h190{height: 190px;}
.h191{height: 191px;}
.h192{height: 192px;}
.h193{height: 193px;}
.h194{height: 194px;}
.h195{height: 195px;}
.h196{height: 196px;}
.h197{height: 197px;}
.h198{height: 198px;}
.h199{height: 199px;}

.h200{height: 200px;}
.h201{height: 201px;}
.h202{height: 202px;}
.h203{height: 203px;}
.h204{height: 204px;}
.h205{height: 205px;}
.h206{height: 206px;}
.h207{height: 207px;}
.h208{height: 208px;}
.h209{height: 209px;}
.h210{height: 210px;}
.h211{height: 211px;}
.h212{height: 212px;}
.h213{height: 213px;}
.h214{height: 214px;}
.h215{height: 215px;}
.h216{height: 216px;}
.h217{height: 217px;}
.h218{height: 218px;}
.h219{height: 219px;}
.h220{height: 220px;}
.h221{height: 221px;}
.h222{height: 222px;}
.h223{height: 223px;}
.h224{height: 224px;}
.h225{height: 225px;}
.h226{height: 226px;}
.h227{height: 227px;}
.h228{height: 228px;}
.h229{height: 229px;}
.h230{height: 230px;}
.h231{height: 231px;}
.h232{height: 232px;}
.h233{height: 233px;}
.h234{height: 234px;}
.h235{height: 235px;}
.h236{height: 236px;}
.h237{height: 237px;}
.h238{height: 238px;}
.h239{height: 239px;}
.h240{height: 240px;}
.h241{height: 241px;}
.h242{height: 242px;}
.h243{height: 243px;}
.h244{height: 244px;}
.h245{height: 245px;}
.h246{height: 246px;}
.h247{height: 247px;}
.h248{height: 248px;}
.h249{height: 249px;}
.h250{height: 250px;}
.h251{height: 251px;}             
.h252{height: 252px;}
.h253{height: 253px;}
.h254{height: 254px;}
.h255{height: 255px;}
.h256{height: 256px;}
.h257{height: 257px;}
.h258{height: 258px;}
.h259{height: 259px;}
.h260{height: 260px;}
.h261{height: 261px;}
.h262{height: 262px;}
.h263{height: 263px;}
.h264{height: 264px;}
.h265{height: 265px;}
.h266{height: 266px;}
.h267{height: 267px;}
.h268{height: 268px;}
.h269{height: 269px;}
.h270{height: 270px;}
.h271{height: 271px;}
.h272{height: 272px;}
.h273{height: 273px;}
.h274{height: 274px;}
.h275{height: 275px;}
.h276{height: 276px;}
.h277{height: 277px;}
.h278{height: 278px;}
.h279{height: 279px;}
.h280{height: 280px;}
.h281{height: 281px;}
.h282{height: 282px;}
.h283{height: 283px;}
.h284{height: 284px;}
.h285{height: 285px;}
.h286{height: 286px;}
.h287{height: 287px;}
.h288{height: 288px;}
.h289{height: 289px;}
.h290{height: 290px;}
.h291{height: 291px;}
.h292{height: 292px;}
.h293{height: 293px;}
.h294{height: 294px;}
.h295{height: 295px;}
.h296{height: 296px;}
.h297{height: 297px;}
.h298{height: 298px;}
.h299{height: 299px;}

.h300{height: 300px;}
.h301{height: 301px;}
.h302{height: 302px;}
.h303{height: 303px;}
.h304{height: 304px;}
.h305{height: 305px;}
.h306{height: 306px;}
.h307{height: 307px;}
.h308{height: 308px;}
.h309{height: 309px;}
.h310{height: 310px;}
.h311{height: 311px;}
.h312{height: 312px;}
.h313{height: 313px;}
.h314{height: 314px;}
.h315{height: 315px;}
.h316{height: 316px;}
.h317{height: 317px;}
.h318{height: 318px;}
.h319{height: 319px;}
.h320{height: 320px;}
.h321{height: 321px;}
.h322{height: 322px;}
.h323{height: 323px;}
.h324{height: 324px;}
.h325{height: 325px;}
.h326{height: 326px;}
.h327{height: 327px;}
.h328{height: 328px;}
.h329{height: 329px;}
.h330{height: 330px;}
.h331{height: 331px;}
.h332{height: 332px;}
.h333{height: 333px;}
.h334{height: 334px;}
.h335{height: 335px;}
.h336{height: 336px;}
.h337{height: 337px;}
.h338{height: 338px;}
.h339{height: 339px;}
.h340{height: 340px;}
.h341{height: 341px;}
.h342{height: 342px;}
.h343{height: 343px;}
.h344{height: 344px;}
.h345{height: 345px;}
.h346{height: 346px;}
.h347{height: 347px;}
.h348{height: 348px;}
.h349{height: 349px;}
.h350{height: 350px;}
.h351{height: 351px;}             
.h352{height: 352px;}
.h353{height: 353px;}
.h354{height: 354px;}
.h355{height: 355px;}
.h356{height: 356px;}
.h357{height: 357px;}
.h358{height: 358px;}
.h359{height: 359px;}
.h360{height: 360px;}
.h361{height: 361px;}
.h362{height: 362px;}
.h363{height: 363px;}
.h364{height: 364px;}
.h365{height: 365px;}
.h366{height: 366px;}
.h367{height: 367px;}
.h368{height: 368px;}
.h369{height: 369px;}
.h370{height: 370px;}
.h371{height: 371px;}
.h372{height: 372px;}
.h373{height: 373px;}
.h374{height: 374px;}
.h375{height: 375px;}
.h376{height: 376px;}
.h377{height: 377px;}
.h378{height: 378px;}
.h379{height: 379px;}
.h380{height: 380px;}
.h381{height: 381px;}
.h382{height: 382px;}
.h383{height: 383px;}
.h384{height: 384px;}
.h385{height: 385px;}
.h386{height: 386px;}
.h387{height: 387px;}
.h388{height: 388px;}
.h389{height: 389px;}
.h390{height: 390px;}
.h391{height: 391px;}
.h392{height: 392px;}
.h393{height: 393px;}
.h394{height: 394px;}
.h395{height: 395px;}
.h396{height: 396px;}
.h397{height: 397px;}
.h398{height: 398px;}
.h399{height: 399px;}

.nofloat{
    float: none;
    padding-bottom: 15px;
    width: 100%;
}

div.Coluna1 ,div.Coluna2{
    float: left;
    width: 48%;
}
div.Coluna1 {
    padding-right: 31px;
}
.semmargem{
    margin: 0;
    padding: 0;
}
.f10{
    font-size: 10pt !important;
    font-weight: bold;
}
.normal{
    font-weight: normal;
}
.bold{
    font-weight: bold;
}
.bolder{
    font-weight: bolder;
}
.lighter{
    font-weight: lighter;
}