@CHARSET "ISO-8859-1";

@media print 
{
    @page {
        margin: 0.5cm; 
    }

    .no-print
    {
        display: none;
        height: 0; 
    }


    .no-print, .no-print *{
        display: none !important;
        height: 0; 
        
    }
    .page-header{
        margin: 10px 5px  !important; 
    }
    .header, .container-fluid, #page-wrapper{ 
        margin:0px !important;
        padding:0px !important;
    }
     .container-fluid{
         vertical-align: top;
     }
}



