<div class="container flex-row">
        <div class="row justify-content-center align-items-center align-self-center">
            <!-- MENU INICIAL -->
            <div class="col d-flex flex-column align-items-begin"><span></span>
                <div class="dropdown">
                    <button class="btn btn-primary btn-lg dropdown-toggle" id="menu-principal" type="button" data-toggle="dropdown">MENU
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu-principal">
                        <li role="presentation"><a role="menuitem" class="menuitem" name="dashboard" id="dashboard" tabindex="-1" ng-href="#/dashboard">INICIO</a></li>    
                        <li role="presentation"><a role="menuitem" class="menuitem" name="parametros" id="parametros" tabindex="-1" ng-href="#/paranetros">PARÂMETROS</a></li>    
                    </ul>
                </div>
            </div>
            <!-- MENU OCORRENCIAS -->
            <div class="col d-flex flex-column align-items-begin"><span></span>
                <div class="dropdown">
                    <button class="btn btn-primary btn-lg dropdown-toggle" id="menu-ocorrencia" type="button" data-toggle="dropdown">OCORRÊNCIA
                    <span class="caret"></span>&nbsp;<span class="badge badge-light circle-badge">4</span>&nbsp;</button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu-ocorrencia">
                        <li role="presentation"><a role="menuitem" class="menuitem" name="listar-ocorrencia" id="listar-ocorrencia" tabindex="-1" ng-href="#/ocorrencias/listar">LISTAR</a></li>    
                        <li role="presentation"><a role="menuitem" class="menuitem" name="nova-ocorrencia" id="nova-ocorrencia" tabindex="-1" ng-href="#/ocorrencia/novo">REGISTRAR</a></li>                         
                    </ul>
                </div>
            </div>   
            <!-- ESPAÇAMENTO      -->
            <div class="col"><span></span></div>
            <div class="col"><span></span></div>
             <!-- MENU AJUDA -->
            <div class="col d-flex flex-column align-items-end"><span></span><button class="btn btn-primary btn-lg d-flex align-content-center" type="button" style="margin-top:7px;">AJUDA</button></div>
            <!-- MENU FINALIZAR TURNO -->
            <span>{{location}}</span>
            <div class="col d-flex flex-column align-items-end"><span></span><button ng-show="location==='/dashboard'" id="finalizaturno" ng-click="FinalizarTurno()" class="btn btn-primary btn-lg d-flex align-content-center" type="button" style="margin-top:7px;">FINALIZAR O TURNO</button></div>
        </div>
    </div>
    <div class="container" style="position:relative;top:-113px;/*background:red;*/">
        <div class="row">
                 
            <div class="col  col-xs-4 col-sm-4  col-md-4 col-lg-4 col-xl-4 offset-lg-0 text-center"  >
                <div>
                    <span>Operador</span>
                    <div class="card"><span>{{turno.Operador.Descricao}}<br></span></div>
                </div>
            </div>
            <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center" >
                <div>
                    <!-- <span>Produto</span>
                    <div class="card"><span>{{session.Produto}}<br></span></div> -->
                </div>
            </div>
            <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center" >
                <div>
                    <span>Turno</span>
                    <div class="card"><span>{{turno.JornadaTrabalho.Sigla}}<br></span></div>
                </div>
            </div>
                    
        </div>
    </div>