    <header ng-include="'./templates/header.html'"></header>
    <div ng-controller="OcorrenciaController" ng-init="RoteamentoBloqueio()"></div>
    <div ng-controller="TurnoController" ng-init="getAtual()">
        <div class="container-fluid d-flex flex-column body-content justify-content-center">
            <div id="TurnoController" class="row">
                <div class="col align-middle d-flex flex-column body-content justify-content-center">
                    <h5 class="text-right">Quantidade Atual:</h5>
                </div>
                <div class="col"><span class="btn btn-warning btn-block btn-lg d-block"><br><h1>{{turno.QtdPecas}}</h1> <br></span></div>
                <div class="col"></div>
            </div>
        </div>
        <footer ng-include="'./templates/footer.html'"></footer>
        <div ng-include="'./templates/partial.html'"></div>  
    </div>