<div class="container flex-row">
        <div class="row justify-content-center align-items-center align-self-center">
            <div class="col"><span></span>
                <div class="dropdown">
                    <button class="btn btn-primary btn-lg dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">MENU
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" class="menuitem" name="menuitem" id="menuitem" tabindex="-1" href="./">INICIO</a></li>    
                        <li role="presentation"><a role="menuitem" class="menuitem" name="menuitem" id="menuitem" tabindex="-1" href="./parametros/">PARÂMETROS</a></li>    
                    </ul>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 col-xl-4"></div>
            <div class="col d-flex flex-column align-items-end">
                <span></span>
                <button class="btn btn-primary btn-lg d-flex align-content-center" type="button" style="margin-top:7px;">AJUDA</button></div>
        </div>
    </div>