<header ng-include="'./templates/header.html'"></header>

<div class="container-fluid d-flex flex-column body-content justify-content-center" ng-controller="TipoOcorrenciaController" ng-init="getAll()">
	<div style="clear: both;"></div>
	<div style="clear: both;"></div>
	<p></p>
	<form name="ocorrencia-form" id="ocorrencia-form" method="post"> 
		<input type="hidden" value="{{Turno}}" name="turno" id="turnos"/>		
		<div class="container">
			<ul  class="funkyradio radio-group btn-matrix" ng-repeat="tipo in TipoOcorrencia" >           		
				<li>				 
					<div class="funkyradio-default">
						<input  value="{{tipo.id}}" type="radio" name="TipoOcorrencia" id="radio{{tipo.id}}" />
						<label for="radio{{tipo.id}}">{{tipo.id}} - {{tipo.Descricao}}</label>
					</div>
				</li>                                               
			</ul>
			<div style="clear: both;"></div>
		</div>
	</form>
</div>
<footer ng-include="'./templates/footer.html'"></footer>
<div ng-include="'./templates/events.html'"></div>  