<header ng-include="'./templates/header.html'"></header>
<div class="container-fluid d-flex flex-column body-content align-items-center justify-content-center" style="background:{{backgroud_color}}" ng-controller="OcorrenciaController">
		<!-- <div class="col d-flex flex-column align-items-end"> -->
			<h1 class="display-1" style="color:{{font_color}}">{{Mensagem}}</h1>
			<h3 class="display-3" style="color:{{font_color}}">{{TipoOcorrenciaDescr}}</h3>
		<!-- </div> -->
</div>
<footer ng-include="'./templates/footer.html'"></footer>
<div ng-include="'./templates/events.html'"></div>  